{
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "shared-node-browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": "error",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/prefer-optional-chain": "error",
    "@typescript-eslint/prefer-for-of": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/no-var-requires": "warn",
    "@typescript-eslint/explicit-function-return-type": "warn"
  },
  "overrides": [
    {
      "files": [
        "packages/*/src/**/*.ts"
      ],
      "parserOptions": {
        "project": "./tsconfig.eslint.json"
      },
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "plugins": ["import"],
      "rules": {
        "@typescript-eslint/prefer-regexp-exec": "error",
        "@typescript-eslint/prefer-nullish-coalescing": "error",
        "@typescript-eslint/no-floating-promises": ["error", { "ignoreVoid": true }],
        "@typescript-eslint/strict-boolean-expressions": "warn",
        "@typescript-eslint/no-throw-literal": "error",
        "@typescript-eslint/ban-types": "warn",

        "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.{test,spec}.ts"] }]
      }
    },

    {
      "files": [
        "packages/cli/src/**/*.ts"
      ],
      "rules": {
        "no-console": "warn"
      }
    },

    {
      "files": [
        "packages/*/src/**/__tests__/*.ts",
        "test-harness/**/*.{ts,js}"
      ],
      "rules": {
        "@typescript-eslint/strict-boolean-expressions": "off",
        "@typescript-eslint/ban-ts-ignore": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-floating-promises": "off",
        "@typescript-eslint/require-await": "off",
        "@typescript-eslint/unbound-method": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-unsafe-call": "off",
        "@typescript-eslint/no-unsafe-member-access": "off",
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/restrict-template-expressions": "off"
      }
    },

    {
      "files": [
        "src/**/__tests__/**/*.jest.test.{ts,js}"
      ],
      "env": {
        "jest": true
      }
    },

    {
      "files": [
        "src/**/__tests__/**/*.karma.test.{ts,js}"
      ],
      "env": {
        "browser": true,
        "jasmine": true
      }
    },

    {
      "files": [
        "scripts/**/*.{mjs,ts}",
        "test-harness/**/*.{ts,js}"
      ],
      "env": {
        "node": true
      }
    }
  ]
}
