# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/cli/binaries
/test-harness/tmp/
packages/*/dist

# testing
/coverage

# production
/build
/dist
/docs-auto

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea
.nyc_output
.DS_Store
.awcache
.cache-loader
.cache
.rpt2_cache

# logs
*.log*
*-debug.log*
*-error.log*
