# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

/binaries
/rulesets
/__karma__/__fixtures__/
/test-harness/tmp/

# testing
/coverage

# production
/build
/dist
/docs-auto

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea
.nvmrc
.nyc_output
.DS_Store
.awcache
.cache-loader
.cache
.rpt2_cache

# logs
*.log*
*-debug.log*
*-error.log*
