version: 2.1

orbs:
  stoplight: stoplight/cli@0.0.2
  node: circleci/node@3.0.0

executors:
  linux:
    docker:
      - image: cimg/base:2020.01

commands:
  cached-dependencies:
    steps:
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

  install-and-build:
    description: >-
      Build everything required to run the test suite
    steps:
      - cached-dependencies
      - run:
          name: Build the code
          command: yarn build

  test-node:
    steps:
      - run:
          name: Lint the code
          command: yarn lint.eslint
      - run:
          name: Run node tests
          command: yarn test --coverage --maxWorkers=2
      - run:
          name: Run node tests (nimma)
          command: npx cross-env USE_NIMMA=true yarn test --maxWorkers=2

  test-harness:
    steps:
      - run:
          name: Create the Spectral Binary
          command: yarn build.binary
      - run:
          name: Create output directory
          command: mkdir ./test-harness/tmp
      - run:
          name: Run harness tests
          command: yarn test.harness

jobs:
  test:
    parameters:
      os:
        type: executor
      node-version:
        type: string
    executor: << parameters.os >>
    steps:
      - checkout
      - node/install:
          node-version: << parameters.node-version >>.0
          install-yarn: true
          install-npm: false
      - install-and-build
      - test-node
      - test-harness

  test-browser:
    docker:
      - image: circleci/node:latest-browsers
    steps:
      - checkout
      - install-and-build
      - run:
          name: Run browser tests
          command: yarn test.karma
      - run:
          name: Run browser tests (nimma)
          command: USE_NIMMA=true yarn test.karma

  release:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - cached-dependencies
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run: npm version from-git
      - run: yarn inline-version
      - run: yarn build
      - run: |
          if [[ "$CIRCLE_TAG" == *beta* ]] ; then
            npm publish --tag beta
          elif [[ "$CIRCLE_TAG" == *alpha* ]] ; then
            npm publish --tag alpha
          else
            npm publish
          fi
      - run: npx pkg . --targets linux,macos --out-path ./binaries
      - persist_to_workspace:
          root: ./
          paths:
            - binaries

  upload_artifacts:
    docker:
      - image: circleci/golang:1-stretch
    steps:
      - attach_workspace:
          at: /tmp/
      - run:
          name: "Download GitHub Release Utility"
          command: go get github.com/tcnksm/ghr
      - run:
          name: "Publish Release artifacts on GitHub"
          command: ghr -t ${GH_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG} /tmp/binaries

workflows:
  commit:
    jobs:
      - test:
          matrix:
            parameters:
              os:
                - linux
              node-version:
                - "10.18"
                - "12.9"
                - "14.9"
      - test-browser

  release:
    jobs:
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - upload_artifacts:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
          requires:
            - release
      - stoplight/analyze:
          filters:
            branches:
              only: master
          requires:
            - release
