version: 2.1

commands:
  # Command based on instructions from CircleCI blog for avoiding fork secret leakage or failures
  # https://circleci.com/blog/managing-secrets-when-you-have-pull-requests-from-outside-contributors/
  early-return-forks:
    description: >-
      If this build is from a fork, stop executing the current job and return success.
      This is useful to avoid steps that will fail due to missing credentials.
    steps:
      - run:
          name: Early return if this build is from a forked PR
          command: |
            if [ -n "$CIRCLE_PR_NUMBER" ]; then
                echo "Nothing to do for forked PRs, so marking this step successful"
                circleci step halt
            fi

  cached-dependencies:
    steps:
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

  install-and-test:
    description: >-
      Install everything required to run the test suite, then run it.
    steps:
      - checkout
      - cached-dependencies
      - run:
          name: Download cc-test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
      - run: yarn
      - run:
          name: cc-before
          command: |
            ./cc-test-reporter before-build
      - run:
          name: Run browser tests
          command: yarn test.karma
      - run:
          name: Build the code
          command: yarn build
      - run:
          name: Run node tests
          command: yarn test --coverage --maxWorkers=2
      - run:
          name: Lint the code
          command: yarn lint
      - early-return-forks
      - run:
          name: cc-after
          command: |
            ./cc-test-reporter after-build --coverage-input-type lcov --exit-code $?

jobs:
  test-node-latest:
    docker:
      - image: circleci/node:latest-browsers
    steps:
      - install-and-test

  test-node-12:
    docker:
      - image: circleci/node:12-browsers
    steps:
      - install-and-test

  test-node-10:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - install-and-test

  test-node-8:
    docker:
      - image: circleci/node:8-browsers
    steps:
      - install-and-test

  release:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - cached-dependencies
      - setup_remote_docker
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run: "echo $DOCKER_PASSWORD | docker login -u $DOCKER_USER --password-stdin"
      - run: npm version from-git
      - run: yarn build
      - run: |
          if [[ "$CIRCLE_TAG" == *beta* ]] ; then
            npm publish --tag beta
          elif [[ "$CIRCLE_TAG" == *alpha* ]] ; then
            npm publish --tag alpha
          else
            npm publish
          fi
      - run: yarn build.binary
      - run: docker build -t stoplight/spectral:${CIRCLE_TAG} -t stoplight/spectral:latest .
      - run: docker push stoplight/spectral:${CIRCLE_TAG}
      - run: |
          if [[ "$CIRCLE_TAG" == *beta* ]] ; then
            docker push stoplight/spectral:beta
          elif [[ "$CIRCLE_TAG" == *alpha* ]] ; then
            docker push stoplight/spectral:alpha
          else
            docker push stoplight/spectral:latest
          fi
      - persist_to_workspace:
          root: ./
          paths:
            - binaries
  upload_artifacts:
    docker:
      - image: circleci/golang:1-stretch
    steps:
      - early-return-forks
      - attach_workspace:
          at: /tmp/
      - run:
          name: "Download GitHub Release Utility"
          command: go get github.com/tcnksm/ghr
      - run:
          name: "Publish Release artifacts on GitHub"
          command: ghr -t ${GH_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG} /tmp/binaries

workflows:
  commit:
    jobs:
      - test-node-latest
      - test-node-12
      - test-node-10
      - test-node-8
  release:
    jobs:
      - release:
          filters:
            branches:
              only: master
            tags:
              only: /^v.*/
      - upload_artifacts:
          requires:
            - release
          filters:
            tags:
              only: /^v.*/
