version: 2.1

orbs:
  windows: circleci/windows@2.4.0

executors:
  linux:
    docker:
      - image: cimg/base:2021.01

commands:
  cached-dependencies:
    parameters:
      os:
        type: string
        default: linux
      flags:
        type: string
        default: ''
    steps:
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-<< parameters.os >>-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn --frozen-lockfile --cache-folder $HOME/.cache/yarn << parameters.flags >>
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-<< parameters.os >>-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

  install-and-build:
    description: >-
      Build everything required to run the test suite
    steps:
      - cached-dependencies
      - run:
          name: Build the code
          command: yarn build

  lint-code:
    steps:
      - run:
          name: Lint code
          command: yarn lint.eslint

  lint-documentation:
    steps:
      - run:
          name: Lint documentation
          command: yarn lint.prettier

  lint-changelog:
    steps:
      - run:
          name: Lint changelog
          command: yarn lint.changelog

  lint-commit-message:
    steps:
      - run:
          name: Lint commit messages
          command: |
            echo "$(git log -1 --pretty=format:"%s")" | npx commitlint


  test-node:
    parameters:
      max-workers:
        type: integer
        default: 2
    steps:
      - run: yarn pretest
      - run:
          name: Run node tests
          command: yarn test.jest --coverage --maxWorkers=<< parameters.max-workers >>

  test-harness:
    steps:
      - run:
          name: Create the Spectral Binary
          command: yarn workspace @stoplight/spectral-cli build.binary
      - run:
          name: Run harness tests
          command: yarn test.harness

  prepare-release:
    steps:
      - checkout
      - cached-dependencies
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run: yarn build

jobs:
  lint:
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - cached-dependencies
      - lint-commit-message
      - lint-changelog
      - lint-code
      - lint-documentation

  test-node:
    parameters:
      node-version:
        type: string
    docker:
      - image: circleci/node:<< parameters.node-version >>
    steps:
      - checkout
      - install-and-build
      - test-node
      - test-harness

  test-browser:
    docker:
      - image: circleci/node:latest-browsers
    steps:
      - checkout
      - install-and-build
      - run: yarn pretest
      - run:
          name: Run browser tests
          command: yarn test.karma

  test-windows:
    executor:
      name: windows/default
    steps:
      - checkout
      - cached-dependencies:
          os: windows
          flags: "--ignore-engines"
      - run: yarn build
      - test-node:
          max-workers: 3

  build-windows-binary:
    executor:
      name: windows/default
    steps:
      - cached-dependencies:
          os: windows
          flags: "--ignore-engines"
      - run: yarn build
      - run: yarn workspace @stoplight/spectral-cli build.windows
      - persist_to_workspace:
          root: ./packages/cli/
          paths:
            - binaries

  release-docker:
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.2
          docker_layer_caching: true
      - run:
          name: set version in package.json
          command: npm --no-git-tag-version --no-commit-hooks -f version from-git
      - run:
          name: docker build
          command: |
            GIT_SHA=${CIRCLE_SHA1:0:7}
            echo "GIT_SHA=${GIT_SHA}";
            docker build . --tag stoplight/spectral:${GIT_SHA};
      - run:
          name: docker push
          command: |
            shopt -s extglob
            GIT_SHA=${CIRCLE_SHA1:0:7}
            echo "GIT_SHA=${GIT_SHA}";
            # Login to DockerHub
            echo $DOCKER_PASSWORD | docker login -u $DOCKER_USER --password-stdin
            DOCKER_BRANCH="${CIRCLE_BRANCH//\//-}";
            if [[ "$DOCKER_BRANCH" == "master" ]]; then
              DOCKER_BRANCH="latest";
            fi
            echo "DOCKER_BRANCH=${DOCKER_BRANCH}";
            if [[ -n "$DOCKER_BRANCH" ]]; then
              docker tag stoplight/spectral:${GIT_SHA} stoplight/spectral:${DOCKER_BRANCH};
            fi
            if [[ -n "$CIRCLE_TAG" ]]; then
              FULL_VERSION="${CIRCLE_TAG/v/}";
              MINOR_VERSION="${FULL_VERSION/%.+([0-9])/}";
              MAJOR_VERSION="${MINOR_VERSION/%.+([0-9])/}";
              echo "FULL_VERSION=$FULL_VERSION";
              echo "MINOR_VERSION=$MINOR_VERSION";
              echo "MAJOR_VERSION=$MAJOR_VERSION";
              docker tag stoplight/spectral:${GIT_SHA} stoplight/spectral:${FULL_VERSION};
              docker tag stoplight/spectral:${GIT_SHA} stoplight/spectral:${MINOR_VERSION};
              docker tag stoplight/spectral:${GIT_SHA} stoplight/spectral:${MAJOR_VERSION};
            fi
            echo "Docker tags:";
            docker images stoplight/spectral --format="{{ .Tag }}";
            docker push stoplight/spectral:${GIT_SHA};
            if [[ -n "$DOCKER_BRANCH" ]]; then
              docker push stoplight/spectral:${DOCKER_BRANCH};
            fi
            if [[ -n "$CIRCLE_TAG" ]]; then
              docker push stoplight/spectral:${FULL_VERSION} \
                          stoplight/spectral:${MINOR_VERSION} \
                          stoplight/spectral:${MAJOR_VERSION};
            fi

  release:
    docker:
      - image: circleci/node:14
    steps:
      - prepare-release
      - run: yarn release
      - run: yarn workspace @stoplight/spectral-cli build.nix
      - persist_to_workspace:
          root: ./packages/cli/
          paths:
            - binaries

  upload_artifacts:
    docker:
      - image: circleci/golang:1-stretch
    steps:
      - attach_workspace:
          at: /tmp/
      - run:
          name: "Download GitHub Release Utility"
          command: go get github.com/tcnksm/ghr
      - run:
          name: "Publish Release artifacts on GitHub"
          command: ghr -t ${GH_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG} /tmp/packages/cli/binaries

workflows:
  commit:
    jobs:
      - test-node:
          matrix:
            parameters:
              node-version:
                - "12.21"
                - lts
                - current
      - test-windows
      - test-browser
      - lint

  release:
    jobs:
      - release-docker:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

  scheduled-release:
    triggers:
      - schedule:
          cron: "0 12 * * *"
          filters:
            branches:
              only:
                - develop
    jobs:
      - lint
      - test-node:
          matrix:
            parameters:
              node-version:
                - "12.21"
                - lts
                - current
          requires:
            - lint
      - test-windows:
          requires:
            - lint
      - test-browser:
          requires:
            - lint
      - build-windows-binary:
          requires:
            - lint
            - test-windows
      - release:
          requires:
            - lint
            - test-node
            - test-windows
            - test-browser
      - upload_artifacts:
          requires:
            - release
            - build-windows-binary
